<%- include('header') %>
        <link rel="stylesheet" href="/css/contacts.css">
        <div class="contacts-container">
            <div class="contacts-text">
                <h2>Elérhetőségeink:</h1>
                <h3>666 Pokol, Pokol tornáca dűlő 7.</h3>
                <h3>Telefon: 06-66/777-777</h3>
                <h3>E-mail: info@pokol.doom</h3>
                <h4>Ügyfélszolgálati iroda, munkanapokon 08-16-óráig</h4>
                <h4>Beszélgetés rögzítésével: Mobiltelefon: 06-80/777-888</h4>
                <h4>Egyéb elérhetőség: Mobiltelefon: 06-20/555-99-99</h4>
            </div>
            <div class="contacts-img">
                <img src="media/computer-funny.gif" alt="LINDAAAAAAA">
            </div>
        </div>
<%- include('footer') %>