<%- include('body') %>
<header>
    <div class="header-menu-container">
        <ul class="header-menu">
            
            <% if (loggedIN) {%>
                <li>
                    <a href="/users">Felhasználók</a>
                </li>
                <li>
                    <a href="/customers">Ügyfelek</a>
                </li>
                <li>
                    <a href="/vehicles">Gépjárművek</a>
                </li>
                <li>
                    <a href="/rentals">Kölcsönzések</a>
                </li>
                <li>
                    <a href="/balance">Egyenleg</a>
                </li>
                
                <li>
                    <a href="/logout">Kijelentkezés</a>
                </li>
                <%} else {%>
                <li>
                    <a href="/">Kezdőoldal</a>
                </li>
                <li>
                    <a href="/login">Bejelentkezés</a>
                </li>
                <li>
                    <a href="/contacts">Kapcsolat</a>
                </li>
            <% } %>
        </ul>
    </div>
</header>
<main>