<%- include('header') %>
        <div class="wellcome-text">
            <h1>Üdvözöljük</h1>
            <h3>A Pokolian Jó Autókölcsönző</h3>
            <h3>Ügyfélszolgálati Rendszer oldalán !</h3>
        </div>
        <div class="wellcome-img">
            <img src="media/main-logo.png" alt="LOGO" style="max-width: 100%;height: auto;">    
        </div>
<%- include('footer') %>